<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
    <File value="logs/ElevatorSim" />
    <!-- preserveLogFileNameExtension requires log4net 1.2.12 or higher
    Ensures that the .log extension is preserved as the end of the file name instead of a number (
    e.g. ElevatorSim_2016.01.0.log as opposed to LevelUp_2016.01.log.0 -->
    <preserveLogFileNameExtension value="true" />
    <AppendToFile value="true" />
    <!-- Roll log over daily or if the log exceeds the maximum allowed file size within the time period -->
    <RollingStyle value="Composite" />
    <MaximumFileSize value="1MB" />
    <!-- In conjunction with the <File/> element, this should result in each log file being named
    according to the scheme: elevatorsim_yyyy.MM.#.log -->
    <DatePattern value="_yyyy.MM.dd'.log'" />
    <!-- Required for the log to roll over into a new file with a new name -->
    <StaticLogFileName value="false" />
    <!-- Make higher numbered log files more recent than lower numbered.
    This numbering system will only apply if we have to roll the log over (due to size) within the time period.
    i.e. ElevatorSim.log.5 is more recent than LevelUp.log.1 -->
    <CountDirection value="1" />
    <Layout type="log4net.Layout.PatternLayout">
      <!-- 23 character fixed width date format: Year-Month-Day Hour:Minute:Second,fraction in 24 hour format
        This format should match the General format for the en-US culture.
        See the MSDN reference on custom DateTime formats for more formatting options -->
      <ConversionPattern value="%-23date{yyyy-MM-dd HH:mm:ss,fff} [%-5p]: %m%newline" />
    </Layout>
  </appender>

  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
    <threshold value="INFO" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%-12date{HH:mm:ss,fff} [%-5p]: %message%newline"/>
    </layout>
  </appender>
  
  <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
    <mapping>
      <level value="ERROR" />
      <foreColor value="Red" />
    </mapping>
    <mapping>
      <level value="WARN" />
      <foreColor value="Yellow" />
    </mapping>
    <mapping>
      <level value="INFO" />
      <foreColor value="White" />
    </mapping>
    <mapping>
      <level value="DEBUG" />
      <foreColor value="Cyan" />
    </mapping>
    <mapping>
      <level value="FATAL" />
      <foreColor value="Red, HighIntensity" />
    </mapping>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%-12date{HH:mm:ss,fff} [%-5p]: %message%newline"/>
    </layout>
  </appender>

  <root>
    <level value="ALL" />
    <appender-ref ref="FileAppender" />
    <appender-ref ref="ConsoleAppender" />
    <!-- <appender-ref ref="ColoredConsoleAppender" /> -->
  </root>
</log4net>
